* {
    cursor: default;
}

nav {
    position: absolute;
    top: 5px;
    left: 10vw;
    width: 80vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    padding: 5px 25px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(135, 31, 125, 0.37);
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

nav .logo {
    font-size: 30px;
    color: #821171;
}

@media screen and (min-width:600px) {
    nav {
        margin-top: 50px;
    }
}

@media screen and (max-width:600px) {
    nav .logo {
        width: 80px;
    }
}

@media screen and (max-width:425px) {
    nav {
        display: none;
    }
}

nav .title {
    width: 300px;
    white-space: nowrap;
    text-align: right;
    color: #f6f6f6;
    overflow: hidden;
    border-right: 2px solid #f6f6f6;
    letter-spacing: 2px;
    animation: blink 0.5s steps(44) infinite normal,
        grow 1s steps(10) infinite alternate;
}

@keyframes grow {
    0% {
        width: 0px;
    }

    80%,
    100% {
        width: 200px;
    }
}

@keyframes blink {
    0% {
        border-right-color: #f6f6f6;
    }

    100% {
        border-right-color: transparent;
    }
}


header {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image-box {
    width: 90vw;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

@media screen and (max-width:870px) {
    .image-box {
        margin-top: 100px;
    }
}

.card {
    width: 250px;
    background-color: #f6f6f6;
    margin: 5px;
    padding: 10px 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px #666;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

@media screen and (max-width:780px) {
    .card {
        width: 210px;
    }
}

.card img {
    width: 90%;
    border-radius: 5px;
}

.card p {
    color: #821171;
    font-size: 20px;
    font-weight: bold;
}


.box {
    width: 90vw;
    text-align: center;
    margin: 5px 0;
    padding: 10px 0;
    background-color: #f6f6f6;
    border-radius: 20px;
    box-shadow: -10px 10px 5px rgba(0, 0, 0, 0.3);
}

@media screen and (min-width:870px) {
    .box {
        width: 740px;
    }
}

.box .lover {
    color: rgba(255, 0, 0, 0.733);
    font-size: 27px;
    font-weight: bold;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box .content {
    margin: 0 auto;
    width: 70%;
    min-width: 350px;
    border-radius: 20px;
    border: 5px dashed #ff10b745;
    font-weight: bold;
    padding: 10px;
}

.box .content .time {
    color: #821171;
    font-size: 22px;
}

.box .content div {
    color: #ff10b7;
    font-size: 18px;
}


/* Animations */
.card {
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

.box .lover i {
    font-size: 25px;
    animation: heart 1s ease-in-out infinite;
}

@keyframes heart {

    0%,
    20%,
    50%,
    70%,
    100% {
        font-size: 25px;
    }

    40% {
        font-size: 30px;
    }

    60% {
        font-size: 27px;
    }

}

.content div:hover {

    transform: scale(1.5);
}

.bg-love {
    list-style: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.bg-love li {
    width: 40px;
    height: 40px;
    background-color: red;
    position: absolute;
    bottom: 0;
    animation: lovebubo 5s linear infinite;
    opacity: 0;
}

.bg-love li::after,
.bg-love li::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: red;
}

.bg-love li::after {
    top: -50%;
    left: 0;
}

.bg-love li::before {
    top: 0;
    left: 50%;
}

@keyframes lovebubo {
    0% {
        transform: translateY(0);
        opacity: 0;
    }

    25% {
        opacity: 0.3;
    }

    100% {
        transform: translateY(-100vh) rotate(600deg);
        opacity: 0.3;
    }
}

.bg-love li:nth-child(1) {
    bottom: 0;
    left: 23%;
    width: 40px;
    height: 40px;
    animation-duration: 5s;
    animation-delay: 1s;
}

.bg-love li:nth-child(2) {
    bottom: 10%;
    left: 89%;
    width: 20px;
    height: 20px;
    animation-duration: 7s;
    animation-delay: 5s;
}

.bg-love li:nth-child(3) {
    bottom: 5%;
    left: 54%;
    width: 60px;
    height: 60px;
    animation-duration: 3s;
    animation-delay: 0s;
}

.bg-love li:nth-child(4) {
    bottom: 0%;
    left: 5%;
    width: 40px;
    height: 40px;
    animation-duration: 10s;
    animation-delay: 5s;
}

.bg-love li:nth-child(5) {
    bottom: 2%;
    left: 46%;
    width: 20px;
    height: 20px;
    animation-duration: 6s;
    animation-delay: 0s;
}

.bg-love li:nth-child(6) {
    bottom: 7%;
    left: 41%;
    width: 10px;
    height: 10px;
    animation-duration: 5s;
    animation-delay: 3s;
}

.bg-love li:nth-child(7) {
    bottom: 2%;
    left: 76%;
    width: 40px;
    height: 40px;
    animation-duration: 9s;
    animation-delay: 0s;
}

.bg-love li:nth-child(8) {
    bottom: 1%;
    left: 33%;
    width: 20px;
    height: 20px;
    animation-duration: 8s;
    animation-delay: 0s;
}

.bg-love li:nth-child(9) {
    bottom: 9%;
    left: 33%;
    width: 40px;
    height: 40px;
    animation-duration: 9s;
    animation-delay: 2s;
}

.bg-love li:nth-child(10) {
    bottom: 2%;
    left: 99%;
    width: 20px;
    height: 20px;
    animation-duration: 5s;
    animation-delay: 3s;
}

.bg-love li:nth-child(11) {
    bottom: 0;
    left: 4%;
    width: 60px;
    height: 60px;
    animation-duration: 10s;
    animation-delay: 0s;
}

.bg-love li:nth-child(12) {
    bottom: 3%;
    left: 75%;
    width: 40px;
    height: 40px;
    animation-duration: 7s;
    animation-delay: 5s;
}

.bg-love li:nth-child(13) {
    bottom: 16%;
    left: 0;
    width: 20px;
    height: 20px;
    animation-duration: 9s;
    animation-delay: 0s;
}

.bg-love li:nth-child(14) {
    bottom: 17%;
    left: 11%;
    width: 10px;
    height: 10px;
    animation-duration: 2s;
    animation-delay: 3s;
}

.bg-love li:nth-child(15) {
    bottom: 12%;
    left: 86%;
    width: 40px;
    height: 40px;
    animation-duration: 3s;
    animation-delay: 3s;
}

.bg-love li:nth-child(16) {
    bottom: 11%;
    left: 43%;
    width: 20px;
    height: 20px;
    animation-duration: 4s;
    animation-delay: 1s;
}